.header {
    background: #fafafa;
    padding: 8px 15px;

    @include breakpoint-min(1001px) {
        padding: 10px 30px 12px 30px;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        
        @include breakpoint-min(1201px) {
            padding: 0 30px;
        }
    }

    &-bar {
        display: none;

        @include breakpoint-min(1201px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto 12px auto;
            padding: 0 30px 12px 30px;
            border-bottom: 1px solid #dadada;
            
        }
    }

    &-logo {
        a {
            font-size: 26px;
            color: $font-black;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0;

            @include breakpoint-min(1201px) {
                font-size: 30px;
            }
        }
    }

    &-nav {
        display: none;

        @include breakpoint-min(1201px) {
            display: flex;
        }

        li {
            margin: 0 25px;
        }

        a {
            font-size: 1rem;
            color: $font-black;
            font-weight: 600;

            @include breakpoint-min(1201px) {
                &:hover {
                    color: $primary-color;
                }
            }
        }

        &-small {
            li {
                margin: 0 15px 0 0;
            }

            a {
                font-size: 0.9rem;
                color: $font-black;
                font-weight: 300;

                @include breakpoint-min(1201px) {
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &-auth {
        display: flex;
        align-items: center;

        &-divider {
            display: inline-block;
            margin: 0 5px;
            line-height: 1rem;
            font-weight: 300;
        }

        &-register {
            color: $primary-color;
        }
    }

    &-buttons {
        display: none;

        @include breakpoint-min(1201px) {
            display: flex;
        }
    }

    &-mobile {
        @include breakpoint-min(1201px) {
            display: none;
        }
    }
}
