.btn {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &-basic {
        font-size: 1rem;
        color: $font-white;
        border: 2px solid $primary-color;
        background-color: $primary-color;
        padding: 15px 24px;
        min-width: 150px;
        border-radius: 6px;
        font-weight: 700;
        text-transform: uppercase;

        @include breakpoint-min(1201px) {
            min-width: 180px;

            &:hover {
                background-color: transparent;
                color: $primary-color;
            }
        }

        &.no-fill {
            background-color: transparent;
            color: $primary-color;

            @include breakpoint-min(1201px) {
                &:hover {
                    background-color: $primary-color;
                    color: $font-white;
                }
            }
        }
    }

    &-icon {
        // padding: 6px;
    }

    &-margin-left {
        margin: 0 0 0 10px;
    }

    &-margin-right {
        margin: 0 10px 0 0;
    }

    &-no-margin {
        margin: 0;
    }
}
