html {
    font-size: 13px;

    @include breakpoint-min(768px) {
        font-size: 16px;
    }
}

body {
    overflow: auto;
    color: $font-black;
    background-color: $body-bg;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.25px;
}

.app {
    position: relative;
    min-height: 100vh;
}

.page {
    min-height: 650px;
}

a {
    text-decoration: none;
    color: $font-black;
    transition: all 0.3s ease;
}

.list {
    li {
        margin-bottom: 12px;
    }
}

.icon {
    width: 26px;
    height: 26px;
    transition: all 0.3s ease;

    &:hover {
        color: $primary-color;
    }

    &-black {
        color: #0f0f0f;
    }

    &-white {
        color: #ffffff;
    }
}
